<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="header">

    <!-- FILA SUPERIOR -->
    <div style="background:#FFFFFF; padding:15px 10px 7px 10px; margin-bottom:10px;">
        <div style="display:flex; justify-content:space-between; align-items:flex-start; width:100%; margin:0 auto; padding:0 20px">
            <img src="/images/logoizquierda.jpg" style="height:130px; width:auto; object-fit:contain; display:block;">
            <img src="/images/logoderecha.jpg" style="height:100px; width:auto; object-fit:contain; display:block;">
        </div>
    </div>

    <!-- BARRA AZUL -->
    <div style="width:100%; background:#0038A8; padding:0 20px; box-sizing:border-box;">

        <div style="margin:0 auto; height:55px; display:flex; align-items:center; justify-content:center;">
            <span style="color:white; font-size:25px; font-family:Arial; font-weight:bold;">
                SERVICIOS PLATAFORMA INFORMÁTICA PUSAK
        </span>
        </div>
    </div>

</div>

</body>
</html>